<h1>Studio Index Page</h1>
<div>class = Studios
<h2>Studios</h2>
<% @studios.each do |studio| %>
    <h3>Name: <%= studio.name %></h3>
    <h4>Name: <%= studio.location %></h4>
    <% studio.movies.each do |movie| %>
    <ul>
    <li><%=movie.title%></li>
    </ul>
    <% end %>

<% end %>

</div>